<div>
  <h2>Dobrodosao {{ user$ | async }}!</h2>
  <button (click)="logout()">Odjavi se</button>
</div>

<form (ngSubmit)="addNote()" [formGroup]="addNoteForm">
  <input type="text" name="title" placeholder="Title" formControlName="title" />
  <input type="text" name="description" placeholder="Description" formControlName="description" />
  <button type="submit">Add note</button>
</form>
<h1>Lista beleski</h1>
<ul>
  <li *ngFor="let note of notes">
    <app-note
      [note]="note"
      [deleteNote]="deleteNote"
      [toggleCompleteNote]="toggleCompleteNote"
    />
  </li>
</ul>
