<div class="login-page-wrapper">
  <div class="login-container">
    <h1 class="login-title">Prijava</h1>
    <form [formGroup]="loginForm" (submit)="login()" class="login-form">
      <input
        type="text"
        placeholder="Korisnicko ime"
        formControlName="username"
        class="login-input"
      />
      <input
        type="password"
        placeholder="Sifra"
        formControlName="password"
        class="login-input"
      />
      <button type="submit" class="login-button">Prijavi se</button>
    </form>
  </div>
</div>
