.toggle-status-button,
.delete-note-button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.note-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.note-description,
.note-status {
  margin-bottom: 10px;
}

.toggle-status-button {
  background-color: #007bff;
  color: white;
}

.delete-note-button {
  background-color: #ff4d4d;
  color: white;
}
